{
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.md",
			"options": {
				"printWidth": 9999
			}
		}
	],
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"printWidth": 80,
	"singleQuote": true,
	"tailwindFunctions": ["clsx", "cva"],
	"trailingComma": "none",
	"useTabs": true
}
