@black-title-text: #333;
@black-p-text: #586069;
@black-a-text: #595757;
@black-a-icon: #6a737d;
//
@white-footer-background: #f9fafb;
@white-border: #d8d8d8;
//
@ultra-black-title-text: #586069;
@ultra-black-p-text: #586069;
@ultra-black-a-text: #6a737d;
@ultra-black-a-icon: #6a737d;
//
@morandi-color-1: #bfb1cc;
@morandi-color-2: #aec6d4;
@morandi-color-3: #adc7af;
@morandi-color-4: #d6c9ad;
@morandi-color-5: #debdb6;
@morandi-color-6: #d9bdc5;
//
.grabient {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

html {
  body {
    #page {
      #footer-wrapper {
        position: relative;

        footer {
          display: flex;

          width: 100%;

          border-top-right-radius: 25px;
          background-color: @white-footer-background;

          @media screen and (min-width: 1281px) {
            background-color: transparent;
          }

          &::before {
            position: absolute;
            z-index: -1;
            top: 3px;

            width: 100%;
            height: 25px;

            content: "";

            border-top-right-radius: 25px;

            .grabient();
            -webkit-filter: blur(15px);
            filter: blur(15px);

            @media screen and (min-width: 1281px) {
              display: none;
            }
          }

          #footer-inner-wrapper {
            display: flex;
            align-content: space-around;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: space-around;

            padding: 38px 0 18px 62px;

            @media screen and (max-width: 991px) {
              padding: 18px;
            }

            #footer-logo {
              width: 100%;
              height: 62px;

              @media screen and (min-width: 1281px) {
                width: 38%;
                height: 144px;
                margin: 18px auto;
              }

              .icon-footer-logo {
                width: 50px;
                height: 50px;
                margin: 6px;

                @media screen and (min-width: 1281px) {
                  width: 100px;
                  height: 100px;
                  margin: 22px;
                }
              }
            }

            nav {
              flex-grow: 1;
              flex-shrink: 0;

              min-width: 150px;
              margin: 18px auto;

              border-left: 1px @white-border solid;

              div {
                font-family: -apple-system, BlinkMacSystemFont, Microsoft YaHei,
                  Arial, Helvetica, sans-serif;

                padding: 0 18px;

                &:first-child {
                  &::after {
                    position: relative;
                    top: -1px;

                    display: block;

                    width: 22px;
                    height: 1px;

                    content: "";

                    border-radius: 0.5px;
                    background-color: @white-border;
                  }

                  a {
                    font-size: 18px;
                    font-weight: bold;

                    color: @black-title-text;

                    @media screen and (min-width: 1281px) {
                      color: @ultra-black-title-text;
                    }
                  }
                }

                a {
                  font-size: 14px;

                  color: @black-a-text;

                  @media screen and (min-width: 1281px) {
                    color: @ultra-black-a-text;
                  }
                }
              }
            }

            #footer-nav-msg {
              width: 100%;
              padding: 0 18px;

              @media screen and (max-width: 991px) {
                display: none;
              }

              .icon-footer-nav-msg {
                font-size: 20px;

                padding: 0 5px;

                color: @black-a-icon;
              }
            }

            #footer-nav-socialmedia {
              width: 100%;
              margin: 18px auto 0 auto;
              padding: 0 18px;

              @media screen and (min-width: 992px) {
                display: none;
              }

              .icon-footer-nav-socialmedia {
                font-size: 20px;

                padding: 0 5px;

                color: @black-a-icon;

                @media screen and (min-width: 1281px) {
                  color: @ultra-black-a-icon;
                }
              }
            }

            #footer-nav-text-msg {
              font-size: 12px;

              width: 100%;
              margin: 0 auto 18px auto;
              padding: 0 18px;

              color: @black-a-text;

              @media screen and (min-width: 1281px) {
                color: @ultra-black-a-text;
              }

              @media screen and (min-width: 992px) {
                display: none;
              }

              a {
                color: @black-a-text;

                @media screen and (min-width: 1281px) {
                  color: @ultra-black-a-text;
                }
              }
            }

            .horizontal-dividing-line {
              width: 75%;
              height: 1px;
              margin: 18px 12.5%;

              border-radius: 0.5px;
              background-color: @white-border;
            }

            #footer-copyleft {
              display: flex;
              align-items: center;

              width: 100%;

              .icon-footer-copyleft {
                flex-shrink: 0;

                width: 50px;
                height: 50px;
                margin: 6px;
              }

              p {
                font-size: 12px;
                line-height: 1.75;

                display: inline-block;

                vertical-align: middle;

                color: @black-p-text;

                @media screen and (min-width: 1281px) {
                  color: @ultra-black-p-text;
                }
              }
            }
          }

          #footer-socialmedia {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            justify-content: start;

            width: 62px;
            height: inherit;
            padding: 38px 18px 18px 0;

            @media screen and (max-width: 991px) {
              display: none;
            }

            .icon-footer-socialmedia {
              font-size: 20px;

              color: @black-a-icon;

              @media screen and (min-width: 1281px) {
                color: @ultra-black-a-icon;
              }
            }
          }
        }
      }
    }
  }
}
