@black-title-text: #333;
@black-p-text: #586069;
@black-a-text: #595757;
@black-a-icon: #6a737d;
//
@white-footer-background: #f9fafb;
@white-border: #d8d8d8;
//
@ultra-black-title-text: #586069;
@ultra-black-p-text: #586069;
@ultra-black-a-text: #6a737d;
@ultra-black-a-icon: #6a737d;
//
@morandi-color-1: #bfb1cc;
@morandi-color-2: #aec6d4;
@morandi-color-3: #adc7af;
@morandi-color-4: #d6c9ad;
@morandi-color-5: #debdb6;
@morandi-color-6: #d9bdc5;
//
html {
  body {
    #page {
      #header-wrapper {
        width: 100%;

        header {
          line-height: 64px;
          // background-color: @morandi-color-2;

          display: flex;
          justify-content: space-between;

          width: 100%;
          height: 64px;

          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

          #header-logo {
            font-family: Pacifico;
            font-size: 18px;

            flex-shrink: 0;

            padding: 0 32px;
          }

          #header-categorys {
            display: flex;

            width: 62%;
            padding: 0 32px;

            .header-category {
              flex-grow: 1;
              flex-shrink: 0;

              text-align: center;

              color: @ultra-black-a-text;
            }
          }
        }
      }
    }
  }
}
