html {
  width: 100%;
  min-height: 100%;

  .grabient-text {
    color: transparent;
    background-color: #ff3cac;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  body {
    width: 100%;
    min-height: 100%;

    #page {
      width: 100%;
      max-width: 2560px;
      min-height: 100%;
      margin: 0 auto;

      #header-wrapper {
        width: 100%;

        header {
          width: 100%;
          height: 100px;
        }
      }

      #article-wrapper {
        width: 100%;

        article {
          width: 100%;
          height: 1340px;
        }
      }

      #footer-wrapper {
        position: relative;

        footer::before {
          position: absolute;
          z-index: -1;
          top: 3px;

          width: 100%;
          height: 25px;

          content: "";

          border-top-right-radius: 25px;
          background-image: linear-gradient(
            225deg,
            #ff3cac 0%,
            #784ba0 50%,
            #2b86c5 100%
          );

          -webkit-filter: blur(15px);
          filter: blur(15px);
        }

        footer {
          display: flex;

          width: 100%;

          border-top-right-radius: 25px;
          background-color: #f9fafb;

          #footer-inner-wrapper {
            display: flex;
            align-content: space-around;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: space-around;

            padding: 38px 0 38px 62px;

            @media screen and (max-width: 992px) {
              padding: 18px;
            }

            @media screen and (min-width: 2561px) {
              border-top-left-radius: 25px;
            }

            #footer-logo {
              width: 100%;
              height: 62px;

              .icon-footer-logo {
                width: 50px;
                height: 50px;
                margin: 6px;
              }
            }

            nav {
              flex-grow: 1;
              flex-shrink: 0;

              min-width: 150px;
              margin: 18px auto;

              border-left: 1px #d8d8d8 solid;

              div {
                font-family: -apple-system, BlinkMacSystemFont, Microsoft YaHei,
                  Arial, Helvetica, sans-serif;

                padding: 0 18px;

                a {
                  font-size: 14px;

                  color: #6a737d;
                }
              }

              div:first-child {
                a {
                  font-size: 18px;
                  font-weight: bold;

                  color: #586069;
                }
              }

              div:first-child::after {
                position: relative;
                top: -1px;

                display: block;

                width: 22px;
                height: 1px;

                content: "";

                border-radius: 0.5px;
                background-color: #d8d8d8;
              }
            }

            #footer-nav-socialmedia {
              width: 100%;
              padding: 0 18px;

              @media screen and (min-width: 991px) {
                display: none;
              }

              .icon-footer-nav-socialmedia {
                font-size: 20px;

                padding: 0 5px;

                color: #6a737d;
              }
            }

            #footer-nav-msg {
              font-size: 14px;

              width: 100%;
              padding: 0 18px;

              color: #6a737d;

              a {
                color: #6a737d;
              }
            }

            .horizontal-dividing-line {
              width: 75%;
              height: 1px;
              margin: 18px 12.5%;

              border-radius: 0.5px;
              background-color: #d8d8d8;
            }

            #footer-copyleft {
              display: flex;
              align-items: center;

              width: 100%;

              .icon-footer-copyleft {
                flex-shrink: 0;

                width: 50px;
                height: 50px;
                margin: 6px;
              }

              p {
                font-size: 12px;
                line-height: 1.75;

                display: inline-block;

                vertical-align: middle;

                color: #586069;
              }
            }
          }

          #footer-socialmedia {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            justify-content: start;

            width: 62px;
            height: inherit;
            padding: 38px 18px 32px 0;

            @media screen and (max-width: 992px) {
              display: none;
            }

            .icon-footer-socialmedia {
              font-size: 20px;

              color: #6a737d;
            }
          }
        }
      }
    }
  }
}
