@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* theme */
	:root,
	html[data-theme='light'] {
		--main: 246 12 62;
		--md-sys-color-primary: 144 74 75;
		--md-sys-color-surface-tint: 144 74 75;
		--md-sys-color-on-primary: 255 255 255;
		--md-sys-color-primary-container: 255 218 217;
		--md-sys-color-on-primary-container: 59 8 13;
		--md-sys-color-secondary: 119 86 86;
		--md-sys-color-on-secondary: 255 255 255;
		--md-sys-color-secondary-container: 255 218 217;
		--md-sys-color-on-secondary-container: 44 21 21;
		--md-sys-color-tertiary: 117 90 47;
		--md-sys-color-on-tertiary: 255 255 255;
		--md-sys-color-tertiary-container: 255 222 173;
		--md-sys-color-on-tertiary-container: 40 25 0;
		--md-sys-color-error: 186 26 26;
		--md-sys-color-on-error: 255 255 255;
		--md-sys-color-error-container: 255 218 214;
		--md-sys-color-on-error-container: 65 0 2;
		--md-sys-color-background: 255 248 247;
		--md-sys-color-on-background: 34 25 25;
		--md-sys-color-surface: 255 248 247;
		--md-sys-color-on-surface: 34 25 25;
		--md-sys-color-surface-variant: 244 221 220;
		--md-sys-color-on-surface-variant: 82 67 67;
		--md-sys-color-outline: 133 115 114;
		--md-sys-color-outline-variant: 215 193 193;
		--md-sys-color-shadow: 0 0 0;
		--md-sys-color-scrim: 0 0 0;
		--md-sys-color-inverse-surface: 56 46 46;
		--md-sys-color-inverse-on-surface: 255 237 236;
		--md-sys-color-inverse-primary: 255 179 178;
		--md-sys-color-surface-dim: 232 214 213;
		--md-sys-color-surface-bright: 255 248 247;
		--md-sys-color-surface-container-lowest: 255 255 255;
		--md-sys-color-surface-container-low: 255 240 239;
		--md-sys-color-surface-container: 252 234 233;
		--md-sys-color-surface-container-high: 246 228 227;
		--md-sys-color-surface-container-highest: 240 222 222;
	}

	html[data-theme='dark'] {
		--main: var(--md-sys-color-primary);
		--md-sys-color-primary: 255 179 178;
		--md-sys-color-surface-tint: 255 179 178;
		--md-sys-color-on-primary: 86 29 32;
		--md-sys-color-primary-container: 115 51 53;
		--md-sys-color-on-primary-container: 255 218 217;
		--md-sys-color-secondary: 230 189 188;
		--md-sys-color-on-secondary: 68 41 41;
		--md-sys-color-secondary-container: 93 63 63;
		--md-sys-color-on-secondary-container: 255 218 217;
		--md-sys-color-tertiary: 228 193 141;
		--md-sys-color-on-tertiary: 66 44 5;
		--md-sys-color-tertiary-container: 91 67 26;
		--md-sys-color-on-tertiary-container: 255 222 173;
		--md-sys-color-error: 255 180 171;
		--md-sys-color-on-error: 105 0 5;
		--md-sys-color-error-container: 147 0 10;
		--md-sys-color-on-error-container: 255 218 214;
		--md-sys-color-background: 26 17 17;
		--md-sys-color-on-background: 240 222 222;
		--md-sys-color-surface: 26 17 17;
		--md-sys-color-on-surface: 240 222 222;
		--md-sys-color-surface-variant: 82 67 67;
		--md-sys-color-on-surface-variant: 215 193 193;
		--md-sys-color-outline: 160 140 140;
		--md-sys-color-outline-variant: 82 67 67;
		--md-sys-color-shadow: 0 0 0;
		--md-sys-color-scrim: 0 0 0;
		--md-sys-color-inverse-surface: 240 222 222;
		--md-sys-color-inverse-on-surface: 56 46 46;
		--md-sys-color-inverse-primary: 144 74 75;
		--md-sys-color-surface-dim: 26 17 17;
		--md-sys-color-surface-bright: 66 55 54;
		--md-sys-color-surface-container-lowest: 20 12 12;
		--md-sys-color-surface-container-low: 34 25 25;
		--md-sys-color-surface-container: 39 29 29;
		--md-sys-color-surface-container-high: 50 40 39;
		--md-sys-color-surface-container-highest: 61 50 50;
		--wb: 0 0 0;
	}

	html {
		--md-sys-color-primary-fixed: 255 218 217;
		--md-sys-color-on-primary-fixed: 59 8 13;
		--md-sys-color-primary-fixed-dim: 255 179 178;
		--md-sys-color-on-primary-fixed-variant: 115 51 53;
		--md-sys-color-secondary-fixed: 255 218 217;
		--md-sys-color-on-secondary-fixed: 44 21 21;
		--md-sys-color-secondary-fixed-dim: 230 189 188;
		--md-sys-color-on-secondary-fixed-variant: 93 63 63;
		--md-sys-color-tertiary-fixed: 255 222 173;
		--md-sys-color-on-tertiary-fixed: 40 25 0;
		--md-sys-color-tertiary-fixed-dim: 228 193 141;
		--md-sys-color-on-tertiary-fixed-variant: 91 67 26;
	}

	/* scrollbar */
	*:not(body)::-webkit-scrollbar {
		display: none;
	}

	*:not(html) {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	/* cursor */
	/**
    * {
        cursor: none !important;
    }
     */
}
