@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* theme */
	:root,
	html[data-theme='light'] {
		--main: 9 105 218;
		--md-sys-color-primary: 67 94 145;
		--md-sys-color-surface-tint: 67 94 145;
		--md-sys-color-on-primary: 255 255 255;
		--md-sys-color-primary-container: 216 226 255;
		--md-sys-color-on-primary-container: 0 26 65;
		--md-sys-color-secondary: 86 94 113;
		--md-sys-color-on-secondary: 255 255 255;
		--md-sys-color-secondary-container: 219 226 249;
		--md-sys-color-on-secondary-container: 19 27 44;
		--md-sys-color-tertiary: 113 85 116;
		--md-sys-color-on-tertiary: 255 255 255;
		--md-sys-color-tertiary-container: 251 215 252;
		--md-sys-color-on-tertiary-container: 41 19 45;
		--md-sys-color-error: 186 26 26;
		--md-sys-color-on-error: 255 255 255;
		--md-sys-color-error-container: 255 218 214;
		--md-sys-color-on-error-container: 65 0 2;
		--md-sys-color-background: 249 249 255;
		--md-sys-color-on-background: 26 27 32;
		--md-sys-color-surface: 249 249 255;
		--md-sys-color-on-surface: 26 27 32;
		--md-sys-color-surface-variant: 225 226 236;
		--md-sys-color-on-surface-variant: 68 71 79;
		--md-sys-color-outline: 116 119 127;
		--md-sys-color-outline-variant: 196 198 208;
		--md-sys-color-shadow: 0 0 0;
		--md-sys-color-scrim: 0 0 0;
		--md-sys-color-inverse-surface: 47 48 54;
		--md-sys-color-inverse-on-surface: 240 240 247;
		--md-sys-color-inverse-primary: 173 198 255;
		--md-sys-color-surface-dim: 217 217 224;
		--md-sys-color-surface-bright: 249 249 255;
		--md-sys-color-surface-container-lowest: 255 255 255;
		--md-sys-color-surface-container-low: 243 243 250;
		--md-sys-color-surface-container: 237 237 244;
		--md-sys-color-surface-container-high: 232 231 238;
		--md-sys-color-surface-container-highest: 226 226 233;
		--wb: 255 255 255;
	}

	html[data-theme='dark'] {
		--main: var(--md-sys-color-primary);
		--md-sys-color-primary: 173 198 255;
		--md-sys-color-surface-tint: 173 198 255;
		--md-sys-color-on-primary: 16 47 96;
		--md-sys-color-primary-container: 43 70 120;
		--md-sys-color-on-primary-container: 216 226 255;
		--md-sys-color-secondary: 191 198 220;
		--md-sys-color-on-secondary: 40 48 65;
		--md-sys-color-secondary-container: 63 71 89;
		--md-sys-color-on-secondary-container: 219 226 249;
		--md-sys-color-tertiary: 222 188 223;
		--md-sys-color-on-tertiary: 64 40 67;
		--md-sys-color-tertiary-container: 88 62 91;
		--md-sys-color-on-tertiary-container: 251 215 252;
		--md-sys-color-error: 255 180 171;
		--md-sys-color-on-error: 105 0 5;
		--md-sys-color-error-container: 147 0 10;
		--md-sys-color-on-error-container: 255 218 214;
		--md-sys-color-background: 17 19 24;
		--md-sys-color-on-background: 226 226 233;
		--md-sys-color-surface: 17 19 24;
		--md-sys-color-on-surface: 226 226 233;
		--md-sys-color-surface-variant: 68 71 79;
		--md-sys-color-on-surface-variant: 196 198 208;
		--md-sys-color-outline: 142 144 153;
		--md-sys-color-outline-variant: 68 71 79;
		--md-sys-color-shadow: 0 0 0;
		--md-sys-color-scrim: 0 0 0;
		--md-sys-color-inverse-surface: 226 226 233;
		--md-sys-color-inverse-on-surface: 47 48 54;
		--md-sys-color-inverse-primary: 67 94 145;
		--md-sys-color-surface-dim: 17 19 24;
		--md-sys-color-surface-bright: 55 57 62;
		--md-sys-color-surface-container-lowest: 12 14 19;
		--md-sys-color-surface-container-low: 26 27 32;
		--md-sys-color-surface-container: 30 31 37;
		--md-sys-color-surface-container-high: 40 42 47;
		--md-sys-color-surface-container-highest: 51 53 58;
		--wb: 0 0 0;
	}

	html {
		--md-sys-color-primary-fixed: 216 226 255;
		--md-sys-color-on-primary-fixed: 0 26 65;
		--md-sys-color-primary-fixed-dim: 173 198 255;
		--md-sys-color-on-primary-fixed-variant: 43 70 120;
		--md-sys-color-secondary-fixed: 219 226 249;
		--md-sys-color-on-secondary-fixed: 19 27 44;
		--md-sys-color-secondary-fixed-dim: 191 198 220;
		--md-sys-color-on-secondary-fixed-variant: 63 71 89;
		--md-sys-color-tertiary-fixed: 251 215 252;
		--md-sys-color-on-tertiary-fixed: 41 19 45;
		--md-sys-color-tertiary-fixed-dim: 222 188 223;
		--md-sys-color-on-tertiary-fixed-variant: 88 62 91;
	}

	/* scrollbar */
	*:not(body)::-webkit-scrollbar {
		display: none;
	}

	*:not(html) {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	/* gradient */
	.night {
		@apply bg-gradient-to-r from-[#AC32E4] from-0% via-[#7918F2] via-[48%] to-[#4801FF];
	}

	/* cursor */
	/**
    * {
        cursor: none !important;
    }
     */
}
